doctype html
html(lang="en")
	head
		title= newApp
		link(href='/build/combined.css', rel="styleSheet", type="text/css")
	body(ng-app='app')
		header.panel.bg-info
			h1.text-center social demo v.0.0.1
		
			div.text-center(ng-view)

	footer.panel-footer.text-center
		span.copyright Copyright, 2016 
		span.copyright.glyphicon.glyphicon-copyright-mark

	script(src='/build/combined.js', type="text/javascript")
	script(src='/build/combined.min.js', type="text/javascript")