doctype html
html(lang="en")
	head
		title= newApp
		link(href='/build/combined.css', rel="styleSheet", type="text/css")
	body(ng-app='app')
		header.alert.alert-info
			h1.text-center Sociatives

		div.text-center(ng-view)

	footer.panel-footer.alert-info.text-center
		span.copyright Copyright, 2016
		span.copyright.glyphicon.glyphicon-copyright-mark

	script(src='/build/combined.js', type="text/javascript")
